/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2b2b2b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Poppins';
}
canvas{
    height: 600px;
    width:fit-content;
    background: #e8f4ff;
}
.game-wrapper{
    position: absolute;
    width: fit-content;
    height: fit-content;
}
.ball{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 100px;
    right: 229px;
    bottom: 43px;
    animation: fade 1s ease-in-out 1;
    display: flex;
    align-items: center;
    justify-content: center
}
.ball.board{
    right: 290px;
    bottom: 256px;
}
.ball span{
    color: #ffff;
    font-size: 31px;
    font-weight: 800;
}
@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.ball.green{
    background: radial-gradient(
        circle at top left,
        #6bc575,
        #275d2d 70%
    );
}
.ball.black{
    background: radial-gradient(
        circle at top left,
        #636363,
        #131313 70%
    );
}
.ball.blue{
    background: radial-gradient(
        circle at top left,
        #768acd,
        #2d3d73 70%
    )
}

.ball.light-blue{
    background: radial-gradient(
        circle at top left,
        #03f7fe,
        #007579 70%
    )
}

.ball.pink{
    background:radial-gradient(
        circle at top left,
        #ff00ff,
        #660041 70%
    )
}

.ball.red{
    background: radial-gradient(
        circle at top left,
        #ff4449,
        #630b0c 70%
    );
}

.ball.yellow{
    background: radial-gradient(
        circle at top left,
        #ffe83e,
        #9f7d00 70%
    );
}

.ball.orange{
    background: radial-gradient(
        circle at top left,
        #ffc86b,
        #975400 70%
    );
}

.ball.violet{
    background: radial-gradient(
        circle at top left,
        #b03cf3,
        #59087b 70%
    );
}

.ball.light-green{
    background: radial-gradient(
        circle at top left,
        #afff12,
        #456900 70%
    );
}
