@font-face {
    font-family: 'Eras ITC';
    src: url('./fonts/ERASBD_1.woff');
}
@font-face {
    font-family: 'Eras ITC';
    src: url('./fonts/ErasBoldITC_1.woff');
}
:root {
    touch-action: pan-x pan-y;
    height: 100% 
}
html{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #000;
    overflow: hidden;
}

